#meazure-tool {
	position: absolute;
	top: 2rem;
	left: 2rem;
	width: 130px;
	height: 130px;
}

.webdev-hq-rulers {
	background: rgba(255, 255, 255);
}

.webdev-hq-rulers-horizontal {
	border-bottom: 1px solid black;
	
}
